name: vertex_ui
description: A Client to Client chat application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  shared_preferences: ^0.5.7

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.3

  #https://pub.dev/packages/auto_size_text
  # Flutter widget that automatically resizes text to fit perfectly within its bounds.
  auto_size_text: ^2.1.0

  #Dynamic theme for light and dark mode
  dynamic_theme: ^1.0.1

  # HTTP
  http: '>=0.12.0 <0.13.0'

  #connectivity: ^0.4.8+2

  # https://pub.dev/packages/connection_status_bar#-installing-tab-:
  connection_status_bar: ^1.1.2

  # Used for allow the creation of a responsive design on mobile, web and tablet devices
  responsive_builder:

  # https://github.com/brianegan/font_awesome_flutter:
  font_awesome_flutter:

  # For information about devices
  # https://pub.dev/packages/device_info:
  device_info:

  # For information about the application
  # https://pub.dev/packages/package_info:
  package_info:

  # WebRTC
  # https://pub.dev/packages/flutter_webrtc
  flutter_webrtc: ^0.2.8

  # RxDart adds additional capabilities to Dart Streams and StreamControllers.
  # https://pub.dev/packages/rxdart#-readme-tab-
  # NOTE: https://pub.dev/packages/rxdart_codemod
  rxdart: ^0.24.0

  # https://pub.dev/packages/get_it
  get_it:

  # https://pub.dev/packages/provider:
  provider: ^4.0.5+1

  # https://pub.dev/packages/intl:
  intl: ^0.16.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  #Testing
  test: ^1.3.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    # https://medium.com/@suragch/how-to-include-images-in-your-flutter-app-863889fc0b29
    # https://www.iconfinder.com/
    - assets/icons/

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
